.achievements {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.achievements__item:not(:first-child) {
  margin-top: 42px;

  @include desktop {
    margin-top: 40px;
  }
}

.achievements__item {
  @include desktop {
    margin-top: 40px;
  }
}

.achievements__item:nth-child(3n-2) {
  @include desktop {
    width: 315px;
  }
}

.achievements__item:nth-child(3n-1) {
  @include desktop {
    width: 295px;
  }
}

.achievements__item:nth-child(3n) {
  @include desktop {
    width: 210px;
  }
}


.achievements__item--chuck {
  order: 1;

  @include desktop {
    order: 0;
  }
}

.achievements__item--souvenir {
  order: 2;

  @include desktop {
    order: 0;
  }
}

.achievements__item--tower {
  order: 3;

  @include desktop {
    order: 0;
  }
}

.achievements__item--hotel {
  order: 4;

  @include desktop {
    order: 0;
  }
}

.achievements__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 70px;
  font-family: $regular;
  font-size: 18px;
  color: #283645;
  height: 40px;

  @include tablet {
    padding-left: 60px;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  &:hover::before {
    border-color: #283645;
  }

  &:active::before {
    border-color: #d22856;
  }
}

.achievements__checkbox:focus ~ .achievements__label {
  outline: 2px solid #4d90fe;
}

.achievements__checkbox:checked ~ .achievements__label::before {
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50% 8px;
}
