.header {
  min-width: 320px;
  position: absolute;
  width: 100%;
  background-color: rgba(29, 38, 49, 0.3);
  box-sizing: border-box;

  @include desktop {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.header--opened {
  position: relative;
  background-color: #283645;

  @include desktop {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.header__wrap {
  @include desktop {
    width: 940px;
    margin: 25px auto 43px;
    display: flex;
    align-items: flex-start;
  }
}

.header__logo-wrap {
  padding: 22px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 68px;
  box-sizing: border-box;

  @include tablet {
    padding: 27px 20px 43px;
  }

  @include desktop {
    padding: 0;
    margin-right: auto;
    min-height: 0;
  }
}

.header__logo-wrap--opened {
  border-bottom: 1px solid #000000;

  @include desktop {
    border: none;
  }
}

.header__logo {
  width: auto;
  display: block;
  min-height: 24px;
  margin-right: auto;
  color: #ffffff;
}

.header__logo:hover {
  color: #d22856;
}

.header__logo:active {
  color: #ffffff;
}

.header__logo-svg:active {
  color: #ffffff;
  opacity: 0.3;
}

.header__logo-svg--mobile {
  display: block;

  @include tablet {
    display: none;
  }
}

.header__logo-svg--tablet {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: none;
  }
}

.header__logo-svg--desktop {
  display: none;

  @include desktop {
    display: block;
  }
}

.header__burger {
  border: none;
  width: 50px;
  height: 24px;
  background: transparent url("../img/icon-menu-burger.svg") 50% 50% no-repeat;

  @include desktop {
    display: none;
  }
}

.header__burger:hover {
  background-image: url("../img/icon-menu-burger-pink.svg");
}

.header__burger:active {
  opacity: 0.3;
  background-image: url("../img/icon-menu-burger-pink.svg");
}

.header__burger--opened {
  width: 23px;
  height: 22px;
  background: url("../img/icon-menu-cross.svg") 50% 50% no-repeat;

  @include tablet {
    margin-top: auto;
  }
}

.header__burger--opened:hover {
  background-image: url("../img/icon-menu-cross-pink.svg");
}

.header__burger--opened:active {
  opacity: 0.3;
  background-image: url("../img/icon-menu-cross-pink.svg");
}

.header__burger--no-js {
  display: none;
}
