.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links__item a {
  display: block;
  width: 47px;
  height: 56px;
}

.links__item--apple a {
  background: url("../img/icon-apple.svg") 50% 50% no-repeat;
  background-size: contain;
}

.links__item--android a {
  background: url("../img/icon-android.svg") 50% 90% no-repeat;
  background-size: 45px 45px;

  @include tablet {
    background-size: 50px 50px;
  }

  @include desktop {
    background-size: 45px 45px;
  }
}

.links__item--windows a {
  background: url("../img/icon-microsoft.svg") 100% 100% no-repeat;
  background-size: 45px 45px;
}
