.panorama {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-bottom: 21px;

  @include tablet {
    padding-bottom: 50px;
  }
}

.panorama a {
  width: 100%;

  @include tablet {
    height: 77.12vw;
  }

  @include desktop {
    height: auto;
  }
}

.panorama img {
  width: 100%;
  display: block;

  @include tablet {
    width: 100vw;
    height: 100%;
  }

  @include desktop {
    width: 100%;
    height: auto;
  }
}

.panorama__description {
  margin: 0 20px;

  @include desktop {
    box-sizing: border-box;
    width: 940px;
    margin: 0 auto;
  }
}
