.panorama {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-bottom: 20px;

  @include tablet {
    padding-bottom: 50px;
  }
}

.panorama a {
  width: 100%;
}

.panorama img {
  width: 100%;
  display: block;
}

.panorama__description {
  margin: 0 20px;

  @include desktop {
    box-sizing: border-box;
    width: 940px;
    margin: 0 auto;
  }
}
