.participant-form {
  display: flex;
  flex-direction: column;

  @include tablet {
    padding-top: 22px;
    width: auto;
    margin: 0 20px;
  }

  @include desktop {
    padding-top: 10px;
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.participant-form__name {
  @include desktop {
    width: 435px;
    margin-top: 15px;
    margin-right: auto;
  }
}

.participant-form__applications {
  order: 2;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 90px 20px 42px;

  @include tablet {
    order: 0;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    margin-top: 56px;
    padding: 43px 58px 55px;
  }

  @include desktop {
    padding: 42px 0 55px;
    margin-top: 0;
    width: 435px;
    box-sizing: border-box;
  }
}

.participant-form__applications-legend {
  position: relative;
  top: 57px;
  text-align: center;
  width: 220px;
  font-family: $regular;
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;

  @include tablet {
    width: auto;
    padding: 0 25px;
    top: 0;
  }

  @include desktop {
    width: 318px;
    margin: 0 auto;
  }
}

.participant-form__contact-info {
  order: 1;
  border: none;
  padding: 37px 20px 22px;
  margin: 0;

  @include tablet {
    order: 0;
    border: 2px solid #e5e5e5;
    margin-top: 55px;
    padding: 37px 58px 32px;
  }

  @include desktop {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 20px;
  }
}

.participant-form__contact-info-legend {
  display: none;

  @include tablet {
    display: block;
    text-align: center;
    font-family: $regular;
    font-size: 14px;
    text-transform: uppercase;
    color: #d22856;
    padding: 0 25px;
  }
}

.participant-form__achievements {
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 92px 20px 42px;

  @include tablet {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    margin-top: 56px;
    padding: 43px 58px 48px;
  }

  @include desktop {
    width: 100%;
    padding: 2px 58px 57px 58px;
  }
}

.participant-form__achievements-legend {
  position: relative;
  top: 55px;
  text-align: center;
  width: 220px;
  font-family: $regular;
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;

  @include tablet {
    width: auto;
    padding: 0 31px;
    top: 0;
  }
}

.participant-form__emotions {
  order: 3;
  border: none;
  padding: 37px 20px 43px;
  margin: 0;

  @include tablet {
    order: 0;
    margin-top: 55px;
    border: 2px solid #e5e5e5;
    padding: 22px 57px 47px;
  }

  @include desktop {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 40px;
  }
}

.participant-form__emotions-legend {
  position: relative;
  top: 37px;
  text-align: center;
  width: 220px;
  font-family: $regular;
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;

  @include tablet {
    width: auto;
    padding: 0 31px;
    top: 0;
  }

  @include desktop {
    padding: 0 35px;
  }
}

.participant-form__emotions-textarea {
  overflow: auto;
  resize: none;
  margin-top: 15px;
  padding: 18px;
  box-sizing: border-box;
  width: 100%;
  height: 203px;
  font-family: $regular;
  font-size: 18px;
  line-height: 1.66;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  @include tablet {
    height: 193px;
    padding-top: 15px;
  }

  @include desktop {
    height: 130px;
  }
}

.participant-form__emotions-textarea:hover {
  border-color: #283645;
}

.participant-form__emotions-textarea:active {
  border-color: #d22856;
}

.participant-form__footer {
  order: 4;
  padding: 0 20px 20px;

  @include tablet {
    order: 0;
    margin-top: 67px;
    padding: 0 0 50px;
  }

  @include desktop {
    margin-top: 64px;
    width: 100%;
    padding: 0;
  }
}
