.prices {
  padding: 125px 0 100px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;

  @include tablet {
    padding: 110px 20px 70px;
  }

  @include desktop {
    padding: 157px 20px 70px;
  }
}

.prices__container {
  overflow: hidden;

  @include tablet {
    margin: 0 auto;
  }

  @include desktop {
    width: 940px;
  }
}

.prices__table {
  width: 832px;

  @include tablet {
    width: 100%;
    margin: 0 auto;
  }
}
