.reviews {
  padding: 45px 20px;
  background-color: #ffffff;

  @include tablet {
    padding: 30px 20px 22px;
  }

  @include desktop {
    padding: 185px 0 37px;
  }
}

.reviews__container {
  @include desktop {
    position: relative;
    width: 940px;
    margin: 0 auto;

    &::before {
      position: absolute;
      left: 50%;
      top: -115px;
      transform: translateX(-50%);
      content: "";
      width: 80px;
      height: 64px;
      background: url("../img/icon-quotes.svg") 50% 50% no-repeat;
      background-size: contain;
    }
  }
}

.reviews__button {
  cursor: pointer;
  position: absolute;
  top: 30px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 40px;
  opacity: 0.3;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: none;

  @include desktop {
    display: block;
  }
}

.reviews__button:hover {
  opacity: 0.6;
}

.reviews__button:active {
  opacity: 0.1;
}

.reviews__button--left {
  left: 0;
  background-image: url("../img/icon-review-arrow-left.svg");
}

.reviews__button--right {
  right: 0;
  background-image: url("../img/icon-review-arrow-right.svg");
}

.reviews__dots {
  width: 62px;
  margin: 35px auto 0;
  color: #ffffff;

  @include tablet {
    margin-top: 40px;
  }

  @include desktop {
    display: none;
  }
}
