.reviews {
  padding: 45px 20px 55px;
  background-color: #ffffff;

  @include tablet {
    padding-top: 30px;
  }

  @include desktop {
    padding: 185px 0 35px;
  }
}

.reviews__container {
  @include desktop {
    position: relative;
    width: 940px;
    margin: 0 auto;

    &::before {
      position: absolute;
      left: 50%;
      top: -115px;
      transform: translateX(-50%);
      content: "";
      width: 80px;
      height: 64px;
      background: url("../img/icon-quotes.svg") 50% 50% no-repeat;
      background-size: contain;
    }
  }
}


