.table {
  background-color: #e5e5e5;
}

.table__head th:first-child {
  display: none;

  @include tablet {
    display: table-cell;
    background-color: #f2f2f2;
    box-shadow: -2px -2px 0 0 #f2f2f2;
  }
}

.table__head th {
  position: relative;
  background-color: #283645;
  height: 96px;
  width: 276px;
  box-shadow: 0 2px 0 0 #283645;

  @include tablet {
    height: 78px;
  }

  @include desktop {
    height: 96px;
  }
}

.table__head-cell-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.table__head-cell--hit::before {
  position: absolute;
  top: -2px;
  left: -2px;
  content: "";
  width: 74px;
  height: 74px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  z-index: 100;

  @include tablet {
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url("../img/bg-hit-tablet.svg");
  }

  @include desktop {
    width: 74px;
    height: 73px;
    background-image: url("../img/bg-hit.svg");
  }
}

.table__head-cell--hit::after {
  position: absolute;
  top: 16px;
  left: 9px;
  content: "Хит";
  font-family: $regular;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(-45deg);
  z-index: 101;

  @include tablet {
    top: 12px;
    left: 7px;
  }

  @include desktop {
    top: 18px;
    left: 12px;
  }
}

.table__head-name {
  font-family: $bold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;

  @include tablet {
    font-size: 16px;
    margin-top: 8px;
  }

  @include desktop {
    font-size: 18px;
  }
}

.table__head-price {
  font-family: $light;
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;

  @include tablet {
    font-size: 18px;
    margin-top: 2px;
  }

  @include desktop {
    font-size: 24px;
  }
}

.table__body td:first-child {
  display: none;

  @include tablet {
    display: table-cell;
  }
}

.table__body td {
  background-color: #ffffff;
  height: 59px;
  padding-left: 22px;
  font-family: $regular;
  font-size: 14px;
  color: #283645;
  text-transform: uppercase;

  @include tablet {
    text-transform: none;
    padding-left: 15px;
    width: 24.6%;
    height: 45px;
  }

  @include desktop {
    padding-left: 22px;
    height: 59px;
    font-size: 18px;
  }
}

.table__cell-text {
  @include tablet {
    display: none;
  }
}

.table__cell--yes {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 31px auto;
  background-position: top 50% right 18px;

  @include tablet {
    background-position: top 50% right 50%;
  }
}

.table__cell--no {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: 27px auto;
  background-position: top 50% right 19px;

  @include tablet {
    background-position: top 50% right 50%;
  }
}
