.tools {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;

  @include tablet {
    flex-direction: column;
    position: relative;
    top: -18px;
    padding-left: 0;
  }

  @include desktop {
    padding-right: 30px;
  }
}

.tools__item {
  @include tablet {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
}

.tools__item::after {
  @include tablet {
    position: absolute;
    content: "";
    width: 275px;
    height: 1px;
    background-color: #dddfe0;
    bottom: 0;
    left: 0;
  }

  @include desktop {
    width: 410px;
  }
}

.tools__item button {
  width: 48px;
  height: 44px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;

  @include tablet {
    width: 24px;
    height: 22px;
  }

  @include desktop {
    width: 48px;
    height: 44px;
  }
}

.tools__item--crop button {
  background-image: url("../img/icon-editor-crop.svg");
  background-size: 44px;

  @include tablet {
    background-size: 22px;
  }

  @include desktop {
    background-size: 44px;
  }
}

.tools__item--bucket button {
  background-image: url("../img/icon-editor-fill-grey.svg");
  background-size: 48px;

  @include tablet {
    background-image: url("../img/icon-editor-fill.svg");
    background-size: 24px;
  }

  @include desktop {
    background-size: 48px;
  }
}

.tools__item--bucket:hover button {
  @media (max-width: 659px) {
    background-image: url("../img/icon-editor-fill-grey-hover.svg");
  }
}

.tools__item--contrast button {
  background-image: url("../img/icon-editor-contrast-grey.svg");
  background-size: 32px;

  @include tablet {
    background-image: url("../img/icon-editor-contrast.svg");
    background-size: 16px;
  }

  @include desktop {
    background-size: 32px;
  }
}

.tools__item--contrast:hover button {
  @media (max-width: 659px) {
    background-image: url("../img/icon-editor-contrast-grey-hover.svg");
  }
}

.tools__range {
  display: none;

  @include tablet {
    display: block;
    width: 202px;
    height: 14px;
  }

  @include desktop {
    width: 288px;
  }
}
