.user-name {
  padding: 0 20px 23px;

  @include tablet {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.user-name__item {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    align-items: center;
  }
}

.user-name__item:not(:first-child) {
  margin-top: 22px;

  @include tablet {
    margin-top: 52px;
  }
}

.user-name__label {
  margin-left: 23px;
  font-family: $regular;
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;

  @include tablet {
    margin: 0 20px 0 0;
  }
}

.user-name__input {
  margin-top: 10px;
  padding: 0 20px;
  height: 60px;
  font-family: $regular;
  font-size: 18px;
  color: #283645;
  border: 2px solid #e5e5e5;

  @include tablet {
    margin-top: 0;
    flex-grow: 1;
    box-sizing: border-box;
    height: 63px;
  }
}

.user-name__input:hover {
  border-color: #283645;
}

.user-name__input:active {
  border-color: #d22856;
}

.user-name__input--required {
  border-color: #d22856;
}
